/.git
/target
/win_target
/linux_target
/container_target
*.txt
/docker
*.yml
*.sh
*.bat
/move_container
/database_container
/advertisement_container
/.vscode
/web_client/**
!/web_client/dist/
!/web_client/dist/**
/.env