services:
  client-run:
    build:
      context: ./
      dockerfile: ./docker/run/Dockerfile
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ${XAUTHORITY}:/root/.Xauthority:ro
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "5678:5678"
    command: /app/client client --internal-communication-port 5678
