services:
  build-windows:
    build:
      context: ./
      dockerfile: ./docker/compile_windows/Dockerfile
    volumes:
      - rust_build_cache_windows:/usr/local/cargo/registry/
      - ./:/app/
    working_dir: /app
    environment:
      - CARGO_TARGET_DIR=win_target
    command: cargo build --release --target x86_64-pc-windows-gnu

volumes:
  rust_build_cache_windows:
