services:
  server:
    network_mode: "host"
    build:
      context: ./
      dockerfile: ./docker/dev/Dockerfile
    volumes:
      - rust_build_cache:/usr/local/cargo/registry/
      - ./:/app/
    depends_on:
      - client
    command: cargo watch -x "run -- server --passthrough-address-display-program 192.168.8.119 -v --address-camera-program 192.168.8.119 --hexdump-incoming-communication --wait-ms-before-testing-for-shutdown=100000 --passthrough-to-display-program --address-internal-communication=192.168.8.117 --internal-communication-port 5678 --dp-pos-x=100 --dp-pos-y=200 --dp-width=360 --dp-height=120"

  client:
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ${XAUTHORITY}:/root/.Xauthority:ro
      - rust_build_cache:/usr/local/cargo/registry/
      - ./:/app/
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "5678:5678"
    build:
      context: ./
      dockerfile: ./docker/dev/Dockerfile
    command: cargo watch -x "run -- client --internal-communication-port 5678 --hexdump-incoming-communication --wait-ms-before-testing-for-shutdown=100000"

volumes:
  rust_build_cache:
