services:
  client-run:
    image: kellehorreur/jta-display-wall-adapter:latest
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ${XAUTHORITY}:/root/.Xauthority:ro
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "5678:5678"
    command: /app/client client -v --internal-communication-port 5678
