services:
  build-frontend:
    image: node:20
    working_dir: /app/
    volumes:
      - ./web_client:/app/
    command: >
      bash -c "
        npm install &&
        npm run build
      "

  build-linux-legacy:
    build:
      context: ./
      dockerfile: ./docker/build_legacy/Dockerfile
    depends_on:
      build-frontend:
        condition: service_completed_successfully
    volumes:
      - rust_build_cache_linux_legacy:/usr/local/cargo/registry/
      - ./:/app/
    working_dir: /app
    environment:
      - CARGO_TARGET_DIR=linux_target
    command: cargo build --release

volumes:
  rust_build_cache_linux_legacy:
