services:
  build-frontend:
    image: node:20
    working_dir: /app/
    volumes:
      - ./web_client:/app/
    environment:
      - VITE_WS_URL=ws://127.0.0.1:6789/ws/
    command: >
      bash -c "
        npm install &&
        npm run build
      "

  build-linux:
    build:
      context: ./
      dockerfile: ./docker/dev/Dockerfile
    depends_on:
      build-frontend:
        condition: service_completed_successfully
    volumes:
      - rust_build_cache_linux:/usr/local/cargo/registry/
      - ./:/app/
    working_dir: /app
    environment:
      - CARGO_TARGET_DIR=linux_target
    command: cargo build --release

volumes:
  rust_build_cache_linux:
