services:
  server:
    network_mode: "host"
    build:
      context: ./
      dockerfile: ./docker/dev/Dockerfile
    volumes:
      - rust_build_cache:/usr/local/cargo/registry/
      - ./:/app/
    command: cargo watch -x "run -- server --passthrough-address-display-program 192.168.8.199 -v  --hexdump-incoming-communication --wait-ms-before-testing-for-shutdown=100000 --passthrough-to-display-program"

volumes:
  rust_build_cache:
