services:
  client-run:
    image: kellehorreur/jta-display-wall-adapter:latest
    environment:
      - WAYLAND_DISPLAY=${WAYLAND_DISPLAY}
      - XDG_RUNTIME_DIR=/tmp/xdg
    volumes:
      - ./move_container/:/app/move_container/
      - ${XDG_RUNTIME_DIR}/${WAYLAND_DISPLAY}:/tmp/xdg/${WAYLAND_DISPLAY}:rw
    devices:
      - /dev/dri:/dev/dri
    ports:
      - "5678:5678"
    command: /app/client client -v --internal-communication-port 5678 --wait-ms-before-testing-for-shutdown=5000 --emit-file-on-location-update
