services:
  build-linux:
    build:
      context: ./
      dockerfile: ./docker/dev/Dockerfile
    volumes:
      - ./:/app/
    working_dir: /app
    environment:
      - CARGO_TARGET_DIR=linux_target
    command: cargo build --release
